extends layout

block content
  h1 Audio Visual Jams
  p.lead Record anywhere. Distribute everywhere.
  hr
  .row
    .col-sm-6
      h2 Heading
      p
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Heading
      p
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Heading
      p
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Heading
      p
      p
        a.btn.btn-default(href='#', role='button') View details »