//
   Created by anonsmith on 2/3/2016.
extends ../layout
block content
    .page-header
        h2
            i.fa.fa-soundcloud
            | SoundCloud Api
    .btn-group.btn-group-justified
        a.btn.btn-primary(href='https://developers.soundcloud.com/docs/api/reference', target='_blank')
            i.fa.fa-check-square-o
            | API Overview

